html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: black;
}
body {
  background: white;
  margin: 30px 50px;
  line-height: 1.4;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* width: 300%; */
  overflow: hidden;
  /* position: -webkit-sticky;
  position: sticky; */
  grid-gap: 10px;
  font-style: normal;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background: rgba(255, 115, 0, 0.089);
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden;
  position: -webkit-sticky;
  position: sticky; */
}

.nav a {
  color: black;
  display: flex;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14  px;
}

.nav li {
  display: inline-block;
  line-height: 20px;
  margin: 0 20px;
}

.nav a:hover {
  color: rgba(255, 115, 0, 0.699);
  background: rgba(105, 103, 103, 0.452);
  transition: 0.9s;
}

.logo {
  margin-top: -2em;
}

.burger{
  display: none;
}

.burger div{
  height: 5px;
  width: 25px;   
  background-color: black;
  margin: 5px;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.row-s {
  width: 100%;
  margin-top: 0;
}

.top-container {
  display: grid;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.grid1 .showcase {
  background: rgba(255, 153, 0, 0.712);
  padding: 48px;
  display: grid;
  grid-gap: 30px;
  margin: 20px 0px;
  grid-template-columns: 1fr;
}

.showcase h1 {
  font-family: 'Lilita One', cursive;
  font-size: 54px;
  margin-bottom: 0;
  color: rgb(83, 81, 81);
}

.showcase p {
  font-size: 20.8px;
  margin-top: 0;
  color: black;
}

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  text-align: center;
}
.box {
  background: rgba(255, 153, 0, 0.151);
  text-align: center;
  /* padding: 24px 32px; */
}
.grid2 {
  /* width: 50%; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills-box {
  background: rgba(255, 153, 0, 0.712);
  text-align: center;
  padding: 24px 32px;
}
.info {
  background: rgba(128, 128, 128, 0.712);
  padding: 48px;
  display: grid;
  grid-gap: 30px;
  margin-top: 20px;
  grid-template-columns: 1fr;
}

footer {
  margin-top: 32px;
  background: rgb(83, 81, 81);
  color: black;
  text-align: center;
  padding: 16px;
}

footer ul {
  list-style: none;
  display: contents;
  font-size: 30px;
  z-index: 999;
  box-shadow: black;
}

footer i {
  color: rgba(255, 153, 0, 0.863);
}
p {

  font-size: 20px;
  color: rgba(255, 153, 0, 0.712);
}
footer i:hover {
  color: black;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input,
textarea {
  background-color: aliceblue;
  color: black;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input :hover {
  background-color: aquamarine;
}

.container {
  border-radius: 5px;
  padding: 20px;
}
h1 {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 48px;
  margin-bottom: 0;
  color: rgb(83, 81, 81);
}

h6 {
  float: right;
  font-size: 20px;
  padding: 10px 15px;
}

.text {
  margin-top: 6px;
}
.data {
  margin-top: 6px;
}
p1 {
 font-family: 'Poppins', sans-serif; 
}
p {
  font-family: 'Poppins', sans-serif;
}
h4 {
  text-align: center;
  color: black;
  font-weight: 100%;
  font-size: 50px;
  padding-bottom: 30px;
}

/*media queries*/

/*footer*/
@media only screen and (max-width: 700px) {
  footer{
    background: rgba(255, 153, 0, 0.151);
  }
  p{
    color: black;
  } 
  footer i {
    color: black;
  }
  .top-container{
      grid-template-areas: 
      'showcase showcase'
      'top-box-a';
  }
  .showcase {
    font-size: 54px;
  }
  /* .nav {

  } */
  .nav ul {
    height: 200px;
    text-align: center;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr; */
  }
  .info {
    grid-template-columns: 1fr;
  }

}

@media(max-width: 500px) {
    .top-container {
        grid-template-areas:
            'nav'
            'showcase'
            'top-box-a'
    }
}

@media (max-width: 700px){ 
  
} 