* {
  padding: 0;
  margin: 0;
  font-family: "Helvatica", sans-serif;
}

body {
  background: #000;
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;

  /*CSS Smooth Scroll*/
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mendatory;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  color: rgba(255, 153, 0, 0.863);
  font-size: 30px;
  float: right;
  /* margin-right: 40px; */
  cursor: pointer;
  display: none;
}

.nav-bar {
  top: 0;
  z-index: 1;
  display: flex;
  padding: 2% 5%;
  position: fixed;
  width: 90%;
  height: 60px;
}

.nav-logo {
  width: 115px;
}

.nav-links {
  flex: 1;
  text-align: right;
  background: #000;
  margin-left: 85px;
}

.nav-links ul {
  float: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul a {
  color: rgba(255, 153, 0, 0.863);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 0;
}

.nav-links ul li a {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: rgba(255, 153, 0, 0.863);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.nav-links ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.hero {
  width: 100%;
  top: -25%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: relative;
  text-align: center;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  color: rgba(255, 153, 0, 0.863);
  scroll-snap-align: center;
}

/*main-heading*/
h1 {
     font-size: 45px;
     color: transparent;
     -webkit-text-stroke: 1px rgba(255, 153, 0, 0.863);
     margin-bottom: 4%;
     background: url(img/porschee-removebg-preview\ \(1\).png);
     -webkit-background-clip: text;
     background-position: 0 0;
     animation: back 20s linear infinite;
 }


 h3 {
     font-size: 65px;
     color: transparent;
     -webkit-text-stroke: 1px rgba(255, 153, 0, 0.863);
     margin-bottom: 4%;
     background: url(img/porschee-removebg-preview\ \(1\).png);
     -webkit-background-clip: text;
     background-position: 0 0;
     animation: back 20s linear infinite;
 }

/*Headings*/
 section h2 {
     font-size: 35px;
     color: transparent;
     -webkit-text-stroke: 1px rgba(255, 153, 0, 0.863);
     margin-bottom: 4%;
     background: url(img/porschee-removebg-preview\ \(1\).png);
     -webkit-background-clip: text;
     background-position: 0 0;
     animation: back 20s linear infinite;
 }

section p {
  font-size: 1.5rem;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
p1 {
  font-size: 20px;
  font-weight: lighter;
}

/*main-button*/
.button {
  width: 160px;
  height: 50px;
  border: 1px solid rgba(255, 153, 0, 0.863);
  color: rgba(255, 153, 0, 0.863);
  margin: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#contact {
 margin: 130px;
 margin-left: 20px;
}

#button {
  margin-top: 20px;
}

.button p {
  font-size: 20px;
  padding-top: 12px;
  font-weight: bold;
  transition: 1s;
}

.button:hover span {
  top: -10px;
}

.button:hover p {
  color: #000;
  transition-delay: 0.5s;
}

/*Submit-button*/
.button1 {
  width: 160px;
  height: 50px;
  border: 1px solid rgba(255, 153, 0, 0.863);
  color: rgba(255, 153, 0, 0.863);
  margin: auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button1 p {
  font-size: 20px;
  padding-top: 12px;
  font-weight: bold;
  transition: 1s;
}

.button1:hover span {
  top: -10px;
}

.button1:hover p {
  color: #000;
  transition-delay: 0.5s;
}

/*About*/
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  text-align: center;
}

.box {
  text-align: center;
}


/*Skills-page*/
.skills-box {
  text-align: center;
  color: #000;
  position: relative;
  width: 100%;
}

.skills-box h1 {
  font-size: 30px;
}

.image {
  width: 70%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(180, 109, 3);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
  border-radius: 10px;
}

.skills-box:hover .overlay {
  transform: scale(1);
}

.heading {
  display: none;
}

i {
  color: #ccc;
}

.box ul {
  list-style: none;
  display: grid;
  /* float: left; */
  font-size: 50px;
  z-index: 999;
  box-shadow: black;
}

ul i:hover {
  color: rgba(255, 153, 0, 0.863);
}

.bucket {
  border-radius: 5px;
  padding-top: 75px;
}

/*spanner for buttons*/
span {
  width: 80px;
  height: 80px;
  top: 80px;
  position: absolute;
  background: rgb(255, 153, 0);
  border-radius: 50%;
  z-index: -1;
  transition: 1s;
}

span:nth-child(1) {
  left: -20px;
  transition-delay: 0.1s;
}
span:nth-child(2) {
  left: 30px;
  transition-delay: 0.3s;
}
span:nth-child(3) {
  left: 80px;
  transition-delay: 0.5s;
}
span:nth-child(4) {
  left: 125px;
  transition-delay: 0.7s;
}

/*burger menu*/
.burger {
  width: 20px;
  display: none;
  position: absolute;
  top: 17px;
  left: 12px;
}

footer {
  color: #ccc;
  text-align: center;
  /* margin: 100px; */
  padding-bottom: 16px;
}

footer p ul {
  padding: 15px;
  height: 20px;
  width: 20px;
 
}

/*Media-queries*/
@media (max-width: 700px) {
  /* Romeo */

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }

  .heading {
    display: block;
    /* text-align: center; */
  }

  .boxes .box h2 {
    display: none;
  }

  p1 {
    display: grid;
    grid-row: 1/2;
  }

  .hero h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }

  #about {
    display: contents;
  }

  #skills {
    margin-top: -250px;
  }

  #portfolio {
    margin-top: -180px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .details {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  /*up here*/

  .nav-bar {
    display: contents;
    width: auto;
  }
  .nav-links {
    height: 200px;
    text-align: center;
    flex-direction: column;
    display: none;
  }

}

@media (max-width: 360px) {
  #skills {
    margin-top: 10px;
    margin-bottom: 450px;
  }
}

@media (max-width: 944px) {
  .nav-logo {
    left: 6%;
    top: 20px;
    width: 130px;
  }

  .nav-bar ul li a {
    font-size: 17px;
  }
}

@media (max-width: 860px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
  }
  .nav-bar ul li a {
    font-size: 17px;
  }
}
