html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
}
body {
    background: white;
    margin: 30px 50px;
    line-height: 1.4;
}

.nav ul {
    list-style: none;
    display: grid;
    grid-gap: 20px;
    font-style: normal;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.nav a {
    background: rgba(105, 103, 103, 0.452);
    display: block;
    text-decoration: none;
    padding: 0.8px;
    text-align: center;
    color: rgb(255, 153, 0);
    text-transform: uppercase;
    font-size: 17.1px;
    /* box-shadow: rgba(165, 42, 42, 0.527); */
}

.nav a:hover {
    background: rgba(255, 115, 0, 0.699);
    color: aliceblue;
}

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-area: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b'
    'showcase showcase top-box-c'; 
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: tan;
    background-size: cover;
    background-position: center;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* box-shadow: rgba(165, 42, 42, 0.527); */
}

.showcase h1 {
    font-size: 64px;
    margin-bottom: 0;
    color: rgb(83, 81, 81);
}

.showcase p {
    font-size: 20.8px;
    margin-top: 0;
    color: black;
}
/* .top-box-a {
    grid-area: top-box-a;
    display: grid;
    align-items: center;
    justify-items: center;
}

.top-box-b {
    grid-area: top-box-b;
}

.top-box-c {
    grid-area: top-box-c;
} */

.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: rgba(255, 153, 0, 0.712);
    text-align: center;
    padding: 24px 32px;
}

.info {
    background: rgba(128, 128, 128, 0.712);
    padding: 48px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
}

footer {
    margin-top: 32px;
    background: rgb(83, 81, 81);
    color: black ;
    text-align: center;
    padding: 16px;
}

footer li {
    list-style: none;
    display: grid;
    grid-gap: 20px;
    font-style: normal;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} 

* {
    box-sizing: border-box;
}

input, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input {
    background-color: aliceblue;
    color: black;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input :hover{
    background-color: aquamarine;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

.text {
    margin-top: 6px;
}
.data {
    margin-top: 6px;
}
h4 {
    text-align: center;
    color: rgb(189, 79, 5);
    font-weight: 100%;
    font-size: 50px;
    padding-bottom: 30px;
}
